{% extends "title.html" %}
{% block content %}
    <div class="w3-container w3-teal">
        <h2 class="w3-text-white" style="width: 100%">MOCKjAY: A new bird in town</h2>
    </div>
    <div class="w3-container w3-white w3-border">
        <h4 class="w3-text-teal">Hello, Mocker your mockery has been heard and the message has been delivered, head back to the home page by clicking the button below and have a look at what you did!</h4>
        <div class="w3-btn"><a href="{{ url_for('home') }}">FOLLOW THE BIRD</a></div>
    </div>
{% endblock %}
